* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Geologica', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
}

.header {
    background: #2c2c2c;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo h1 {
    color: white;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    align-items: left;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.nav-bar a:hover {
    color: #d4a574;
    font-weight: 500;
}
/* Main Content */
.main-content {
    flex: 1;
    background: white;
    margin-top: 80px; 
    padding: 20px;
}

/* I cancel the idea of modal, instead use the window alert for easier control 
   I still keep this incase usage for later on
.btn-modal {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 16px;
    transition: all 0.3s ease;
    min-width: 150px;
    background: #d4a574;
    color: #2c2c2c;
    border: none;
}

.btn-modal:hover{
    background: #c1965f;
    color: white;
}
*/

.footer {
    background: #2c2c2c;
    color: #ccc;
    padding: 40px 0;
    margin-top: auto; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left {
    flex: 1;
    margin-right: 40px;
}

.footer-left p {
    line-height: 1.6;
    color: #aaa;
}

.footer-right {
    display: flex;
    gap: 40px;
}

.footer-column h3 {
    color: #ccc;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.footer-column a {
    color: #aaa;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #d4a574;
}

@media (max-width: 768px) {
    .header-content {
        padding: 0 15px;
    }
    
    .nav-bar ul {
        gap: 20px;
    }
    
    .main-content {
        margin-top: 70px;
    }
    
    .footer-content {
        flex-direction: column;
        gap: 30px;
    }
    
    .footer-right {
        flex-direction: column;
        gap: 20px;
    }
}
